body{
    min-width: 350px;
}
.youtube{
    max-width: 160px;
    text-align: center;
}
.video{
    position: relative;
    overflow: hidden;
    margin: 0 150px;
    min-width: 560px;
    text-align: center;
}
/*
#frame1{
    padding: 30px;
    display:inline-block;
    height: auto;
    max-width: 200;
}
#frame2{
    padding: 30px;
    display:inline-block;
    height: auto;
    max-width: 200;
}
*/
.telefon{
  font-size: 22px;
}
.latam{
    height: auto;
    max-width: 100%;
    font-size: 30px;

}
.menudol{
    display: block;
    bottom: 30px;

}
.menudol button{
    font-size: 15px;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.galeria{
    max-width: 100%;
}
.thumbnail{
    width: 100;
    height: 60;
}

p.popis{
    font-size: 12px;
    max-width: 350px;
}
