/* MOBILKI*/
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  .thumbnail{
      width: 60;
      height: 45;
  }
  .card-img{
    width: 100px;
  }
  .card-text{
    font-size: 18px;
  }
}

/* TABLETY*/
@media only screen and (min-width: 701px) and (max-width: 900px){
  .card-text{
    font-size: 18px;
  }
  .thumbnail{
      width: 120;
      height: 75;
  }
}


/* LAPTOP*/
@media only screen and (min-width: 901px) and (max-width: 1200px){
  .thumbnail{
      width: 150;
      height: 90;
  }
}
/*
TODO: poprawa media responsywnosci, galeria nie skaluje sie stopniowo
*/
