/* MOBILKI*/
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  .stopka{
    height: 120px;
  }
  .thumbnail{
      width: 60;
      height: 45;
  }
  .card-img{
    width: 100px;
  }
  .card-text{
    font-size: 15px;
  }
  .telopis{
    font-size: 15px;
  }
  .ytimg{
    width: 55;
  }
  .fbimg{
    width: 55;
  }
  .teleimg{
    width: 30;
    font-size: 5;
  }
  .telenumero{
    font-size: 18px
  }
}

/* TABLETY*/
@media only screen and (min-width: 701px) and (max-width: 900px){
  .card-text{
    font-size: 18px;
  }
  .thumbnail{
      width: 120;
      height: 75;
  }
  .telopis{
    font-size: 20px;
  }
  .telefon{
    font-size: 25px;
  }
  .ytimg{
    width: 55;
  }
  .fbimg{
    width: 55;
  }
  .teleimg{
    width: 30;
  }
  .menudol button{
      font-size: 25px;
      text-align: center;
    }
}


/* LAPTOP*/
@media only screen and (min-width: 901px) and (max-width: 1200px){
  .thumbnail{
      width: 150;
      height: 90;
  }
}
